@import '../colors.scss';


@font-face {
    font-family: 'GalanoBold';
    src: url(/fonts/GalanoGrotesqueAltBold.otf);
}

@font-face {
    font-family: 'GalanoMedium';
    src: url(/fonts/GalanoGrotesqueAltMedium.otf);
}

@font-face {
    font-family: 'GalanoNormal';
    src: url(/fonts/GalanoGrotesqueAlt.otf);
}
body {
    font-family: Arial, sans-serif;
      background: #ddd;
  }
  
  
  .Wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 700px;
      height: 400px;
      margin: 0 auto;
      background-color: $blue-crayola;;
      padding: 20px;
      background-clip: padding-box;
      text-align: center;
  }

  .App {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
  }

  .button {
      all: unset;
      width: 400px;
      border: 1px solid white;
      padding: 1.5em 3em 1.5em 3em;
      color: white;
      font-family: 'GalanoBold', sans-serif;
      cursor: pointer;
  }
  
  

  
