@import '../colors.scss';


@font-face {
    font-family: 'GalanoBold';
    src: url(/fonts/GalanoGrotesqueAltBold.otf);
}

@font-face {
    font-family: 'GalanoMedium';
    src: url(/fonts/GalanoGrotesqueAltMedium.otf);
}

@font-face {
    font-family: 'GalanoNormal';
    src: url(/fonts/GalanoGrotesqueAlt.otf);
}
body {
    font-family: Arial, sans-serif;
      background: #ddd;
  }
  
  
  .Wrapper {
      width: 700px;
      height: 400px;
      margin: 0 auto;
      background: #fff;
      padding: 20px;
      border: 10px solid #aaa;
      border-radius: 15px;
      background-clip: padding-box;
      text-align: center;
  }
  
  

  
